:root{
    --primary-blue: #4169e1;
    --primary-white:  #F0E68C;
    --primary-white-001: #FFFFC5;
    --primary-white-002: #C0B870;
    --primary-white-003: #625E3A;
}

*{
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-family: 'Just Another Hand', cursive;
    color: var(--primary-blue);
}

textarea:focus, input:focus, select:focus {
    outline: 0;
} 

body{
    max-width: 100%;
    background-color: var(--primary-white);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 0.25vh solid;
    height: 9.5vh;
    width: 100%;
}

main{
    display: flex;
    height: 90vh;
    width: 100%;
}

.column{
    flex: 1;
    min-height: 50%;
    max-height: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    color: red;
}

.column:not(:last-child){
    border-right: 1px solid;
}

.sketchy-border-h{
    border-image: linear-gradient(
        to right,
        var(--primary-blue), 
        var(--primary-blue), 
        var(--primary-blue), 
        var(--primary-white)
        ) 1;
}

.sketchy-border-v{
    border-image: linear-gradient(
        to bottom,
        var(--primary-blue), 
        var(--primary-blue), 
        var(--primary-blue), 
        var(--primary-white)
        ) 1;
}

.column_title{
    height: 6vh;
    width: 60%;
    margin-top: 4vh;
    border: none;
    background-color: var(--primary-white-001);

    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}

.action-buttons-container{
    position: absolute;
    top: 0;
    right: 0;
}

.column-button{
    width: 3vw;
    height: 3vw;

    display: block;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color: var(--primary-white-003);

    border: none;
    background-color: var(--primary-white);

}

.column-button:hover{
    background-color: var(--primary-white-002);
}

.postit{
    width: 80%;
    height: 25vh;
    background-color: pink;
    display: block;
    margin-top: 4vh;
}

.btn{
    border: var(--primary-white);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
    padding: 10px;
    
    text-transform: uppercase;
    font-size: 1.5rem;

    transition: .1s;
}

.btn:hover{
    border:solid 3px red;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 

    font-weight: bold;
}